* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 50px; /* Espaçamento superior para o formulário */
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  margin-top: 20px; /* Espaçamento superior para a tabela */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Largura da tabela */
  max-width: 800px; /* Largura máxima da tabela */
  border-collapse: collapse;
  margin-left: auto; /* Centraliza a tabela horizontalmente */
  margin-right: auto; /* Centraliza a tabela horizontalmente */
}

th,
td {
  padding: 12px;
  text-align: center; /* Centraliza o texto nas células */
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

button {
  display: block; /* Faz o botão se comportar como um bloco */
  margin: 0 auto; /* Centraliza o botão horizontalmente */
}

/* Navbar styling */
.navbar {
  width: 100%;
  margin-bottom: 20px;
}

.navbar-nav .nav-link {
  font-weight: bold;
}
